argparse==1.2.1
coverage==3.7.1
drmaa==0.7.6
elasticsearch==1.2.0
gevent
gevent-socketio
gevent-websocket
greenlet
gunicorn==19.5.0
mock==1.0.1
nose==1.3.4
py-bcrypt==0.4
pymongo
pyramid==1.5.1
pyramid-chameleon==0.3
pyramid-debugtoolbar==2.2
pyramid-mako==1.0.2
python-dateutil
ldap3
future
python-consul
PyYAML
requests
biomaj
biomaj-core>=3.0.11
