<h1><a ng-href="#/bank"><span class="glyphicon glyphicon-chevron-left"> </span></a> {{name}} <span  ng-click="load_bank();" class="glyphicon glyphicon-refresh"> </span></h1>
<div class="row">
  <div class="col-sm-12 col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">Properties
      <a ng-if="user" ng-href="#/bank/{{name}}/edit" >
          <i class="glyphicon glyphicon-wrench"></i>

      </a>
      </div>
      <div class="panel-body">
        <div>Owner: {{ bank.properties.owner}}</div>
        <div>Type: {{ bank.properties.type.join(',')}}</div>
        <div ng-if="user.is_admin && locked" class="label label-warning">
          <span>Bank action in progress</span>
        </div>
      </div>
    </div>
    <div  ng-if="user.is_admin">
      <div class="panel panel-default">
        <div class="panel-heading">Actions</div>
          <div class="panel-body">
            <button ng-click="update()" class="btn btn-primary btn-lg">Update</button>
            <button ng-click="update_from_scratch()" class="btn btn-primary btn-lg">Update from scratch</button>
          </div>
        </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">Release directories</div>
      <div class="panel-body">
        <div ng-repeat="p in bank.production">
          <div ng-if="bank.current == p.session" class="label label-info">Published</div>
          <div>Release: {{p.release}} <a ng-href="#/bank/{{name}}/{{p.release}}"><span class="glyphicon glyphicon-eye-open"> </span></a></div>
          <button ng-click="remove(p.release)" class="btn btn-primary btn-sm" ng-if="user.is_admin">Remove <span class="glyphicon glyphicon-trash"> </span></button>
          <div>Remote release: {{p.remoterelease}}</div>
          <div>Formats: <ul ng-repeat="f in p.formats"><li>{{f}}</li></ul></div>
          <div>Types: <ul ng-repeat="f in p.types"><li>{{f}}</li></ul></div>
          <div>Directory: {{p.data_dir}}/{{p.dir_version}}/{{p.prod_dir}}</div>
          <hr/>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="row" ng-if="user.is_admin">
  <!--
  <div class="col-sm-12 col-md-6">

    <div class="panel panel-default">
      <div class="panel-heading">Last update session: {{last_update_session.release}}</div>
        <div class="panel-body">
          <div><h4>Log file</h4><a ng-href="#/bank/{{name}}/log/{{last_update_session.id}}">{{last_update_session.log_file}}</a></div>
          <div><h4>Workflow</h4></div>
          <div class="status" ng-repeat="step in updateworkflow">
            <div class="status_{{last_update_session.status[step]}}">{{step}}</div>

            <div ng-if="get_keys(last_update_session.process[step]).length>0" ng-init='procs=get_proc_status(last_update_session.process, step)'>
                <div ng-repeat="procdetail in procs">
                    <div ng-if="procdetail.status == true">
                      <span class="label label-success">{{procdetail.name}}</span>
                    </div>
                    <div ng-if="procdetail.status != true">
                      <span class="label label-danger">{{procdetail.name}}</span>
                    </div>
                </div>
            </div>

          </div>
        </div>
    </div>

  </div>
  -->

  <div class="col-sm-12 col-md-12" ng-if="status">

    <div class="panel panel-default">
      <div class="panel-heading">Current/Last workflow status [{{status['release']['progress']}}]</div>
      <div class="panel-body">
        <div>Log file: <a ng-href="#/bank/{{name}}/log/{{status['session']}}">{{status['log_file']['status']}}</a></div>
        <div class="status current_status_{{status[step]['status']}}" ng-repeat="step in updateworkflow">
          <div>{{step}}: {{status[step]['status']}}</div>
          <div class="" ng-if="step=='download'">{{status[step]['progress']}}/{{status[step]['total']}}</div>
          <div class="" ng-if="step == 'postprocess' || step == 'preprocess'">
            <div ng-repeat="(key,value) in status[step]['progress']">
              <span class=" label status_{{value}}">{{key}}</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
