<div class="row">

    <button class="btn btn-primary" ng-click="newcron()" >Add</button>
    <div ng-repeat="c in cron">
      <div class="panel panel-default">
        <div class="panel-heading"><div editable-text="c.comment">{{c.comment}}</div> <button ng-if="b.save" ng-click="save(b)">SAVE</button></div>
        <div class="panel-body">
          <div editable-text="c.slices">{{c.slices}}</div>
          <div class="row">
            <div class="col-sm-4">
              <input type="text" ng-model="c.add" typeahead="name for name in names | filter:$viewValue | limitTo:8" class="form-control">
            </div>
            <div class="col-sm-1">
              <button class="btn btn-primary" ng-click="addToCron(c)">Add</button>
            </div>
          </div>
          {{c.banks}}
        </div>
      </div>
    </div>

</div>
