<div class="col-md-11">
    <div>
    <h2>Welcome</h2>
    <p>Biomaj Watcher is the web interface above <a href="http://biomaj.genouest.org">BioMAJ</a></p>
    <p>With BioMAJ you can download and transform biological (or other) remote data banks and store their releases locally</p>
    <p>You can download at regular interval, or manually, remote banks. Banks are updated only when required (new release)</p>
    <p>It is possible to apply transformation to downloaded files (Blast index for example) to make data available to your users in the desired format.</p>
    </div>
</div>
